NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1

MONGODB_URI=mongodb://127.0.0.1:27017/ndt-market

JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
